<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="cn.edu.xjtu.cad.templates.dao.EdgeMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->

    <insert id="addAllEdges" parameterType="java.util.List">
        INSERT INTO project_edge (projectID,nodeI,nodeJ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.projectID},
            #{item.nodeI},
            #{item.nodeJ})
        </foreach>
    </insert>

    <select id="getEdgesOfProject" resultType="cn.edu.xjtu.cad.templates.model.project.Edge">
      SELECT * FROM project_edge WHERE projectID = #{projectID}
    </select>

</mapper>