<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="cn.edu.xjtu.cad.templates.dao.EvaMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->

    <!--查询所有的公开数据-->
    <select id="getOpenEvaList" resultType="cn.edu.xjtu.cad.templates.model.Eva">
        SELECT * from `eva` where `open` = TRUE
    </select>

    <!--查询当前用户可以看到的所有评价体系    -->
    <select id="getUserEvaList" resultType="cn.edu.xjtu.cad.templates.model.Eva">
        SELECT * FROM `eva` WHERE `creator` = ${userID}
    </select>

    <select id="getEvaByID" resultType="cn.edu.xjtu.cad.templates.model.Eva">
        SELECT * FROM `eva` WHERE `evaID` = ${evaID}
    </select>

    <!-- 创建新的评价体系   -->
    <insert id="addEva" keyProperty="id" useGeneratedKeys="true" >
        INSERT INTO `eva` (`name`,`des`,`tags`,`creator`,`open`)
        VALUES (#{name},#{des},#{tags},#{creator},#{open})
    </insert>

    <!-- 删除已有的评价体系   -->
    <delete id="deleteLog">
        DELETE FROM  `eva` where `evaID` = #{evaID}
    </delete>

    <!-- 更新现有的评价体系   -->
    <update id="editEva" >
        UPDATE `eva` SET
        `name` = #{name},
        `des` = #{des},
        `tags` = #{tags},
        `open` = #{open}
        where `evaID` = #{evaID}
    </update>

    <!-- 添加新的评估指标   -->
    <insert id="addEvaIndex" keyProperty="indexID" useGeneratedKeys="true" >
        INSERT INTO `eva_index` (`indexID`,`name`,`des`,`w`,`rangeR`,`rangeL`)
        VALUES (#{indexID},#{name},#{des},#{w},#{rangeR},#{rangeL})
    </insert>

    <!-- 删除已有的评估指标  -->
    <delete id="deleteEvaIndex">
        DELETE FROM `eva_index` WHERE indexID = #{indexID}
    </delete>

    <!-- 更新评估指标的信息   -->
    <update id="updateEvaIndex">
        UPDATE `eva_index` SET
        `name` = #{name},
        `des` = #{des},
        `w` = #{w},
        `rangeL` = #{rangeL},
        `rangeR` = #{rangeR}
        where `evaID` = #{evaID} AND `indexID`=#{indexID}
    </update>

    <!-- 获取评估体系下的所有评估指标   -->
    <select id="getEvaIndexByEvaID" resultType="cn.edu.xjtu.cad.templates.model.EvaIndex">
        SELECT * FROM  `eva_index` WHERE  indexID IN
        (SELECT indexID FROM `eva_link_index` WHERE evaID = #{evaID})
    </select>

    <!--  将评估指标添加到评估体系内  -->
    <insert id="addIndex2Eva">
        INSERT INTO `eva_link_index`
        (`evaID`,`indexID`)
        WHERE (#{evaID},#{indexID})
    </insert>

    <!-- 插入新的评估结果   -->
    <insert id="addEvaIndexRes">
        INSERT INTO `eva_index`
        (`indexID`,`linkedID`,`evaIndexID`,`res`,`time`)
        VALUES (#{indexID},#{linkedID},#{evaIndexID},#{res},now())
    </insert>

    <!-- 删除评估结果   -->
    <delete id="deleteEvaIndexRes">
        DELETE FROM  `eva_index` WHERE resID = #{redID}
    </delete>

    <!--  更新评估结果  -->
    <update id="updateEvaIndexRes">
        UPDATE `eva_index` SET
        `res`  =`res`,
        `tiem` = `time`
        WHERE `linkedID` = #{linkedID},`indexID`=#{indexID}
    </update>

    <!-- 选择指标结果   -->
    <select id="selectEvaIndexRes">
        SELECT * FROM `eva_index` WHERE `linkedID` = #{linkedID} AND `evaIndexID`
    </select>


</mapper>