<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="cn.edu.xjtu.cad.templates.dao.LogMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->

    <select id="getProjectLog" resultType="cn.edu.xjtu.cad.templates.model.log.ProjectLog">
        SELECT * from ${tableName} where logID = #{id}
    </select>
    <select id="countLogOnDay" resultType="cn.edu.xjtu.cad.templates.model.log.ProjectLog">
        SELECT COUNT(1) FROM ${tableName} WHERE projectId = ${projectID}
        <if test='stepIndex >= 0'>
            AND stepIndex = #{stepIndex}
        </if>
        <if test='nodeIndex >= 0'>
            AND nodeIndex = #{nodeIndex}
        </if>
        <if test='stepIndex !=null'>
            AND stepIndex = #{stepIndex}
        </if>
        <if test='logType != null'>
            AND logType = #{logType,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
        </if>
        <if test="logMethod  != null">
            AND logMethod = #{logMethod,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}
        </if>
        <if test='startDate!=null'>
            AND startDate >= #{startDate}
        </if>
        <if test='endDate!=null'>
            AND endDate<![CDATA[ <= #{endDate} ]]>
        </if>
    </select>

    <insert id="addLog" parameterType="cn.edu.xjtu.cad.templates.model.project.node.Node">
        INSERT INTO ${tableName} (logType ,logMethod,userID,content${colNames}) VALUES
        (#{log.logType},
        #{log.logMethod},
        #{log.userID},
        #{log.content}
        <if test="fieldNames!=null">
            ${fieldNames}
        </if>
        )
    </insert>

    <delete id="deleteLog">
        DELETE FROM  ${tableName} where logID = #{id}
    </delete>
    
    <select id="getProjectLogCut" resultType="cn.edu.xjtu.cad.templates.model.log.ProjectLog">
        SELECT * FROM ${tableName} where projectID = #{projectID} ORDER BY operateDate DESC LIMIT ${limit}
    </select>
    <select id="getAllProjectLog" resultType="cn.edu.xjtu.cad.templates.model.log.ProjectLog">
        SELECT * FROM ${tableName} where projectID = #{projectID} ORDER BY operateDate
    </select>

    <select id="getStepLog" resultType="cn.edu.xjtu.cad.templates.model.log.ProjectLog">
        SELECT * FROM ${tableName} where projectID = #{projectID} AND stepIndex = #{stepIndex} ORDER BY operateDate
    </select>
</mapper>