<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="cn.edu.xjtu.cad.templates.dao.NodeRoleMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->


    <insert id="addNodeRole">
        INSERT INTO project_node_role VALUES  (#{projectID},#{nodeIndex},#{userID},#{roleType})
    </insert>
    
    <insert id="addAllNodeRole" parameterType="java.util.List">
        INSERT INTO project_node_role (projectID,nodeIndex,userID,roleType) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.projectID},
            #{item.nodeIndex},
            #{item.userID},
            #{item.roleType})
        </foreach>
    </insert>

    <delete id="deleteNodeRole">
        DELETE FROM project_node_role where projectID = #{projectID} AND nodeIndex = #{nodeIndex} AND userID = #{userID}
    </delete>

    <select id="getNodeRole" resultType="cn.edu.xjtu.cad.templates.model.project.node.NodeRoleType">
        SELECT roleType FROM project_node_role where projectID = #{projectID} AND nodeIndex = #{nodeIndex} AND userID = #{userID}
    </select>
    <select id="getNodeRoleList" resultType="cn.edu.xjtu.cad.templates.model.project.node.NodeRole">
        SELECT * FROM project_node_role where projectID = #{projectID} AND nodeIndex = #{nodeIndex}
    </select>

    <update id="updateNodeRole">
        UPDATE project_node_role SET roleType = #{roleType} WHERE projectID = #{projectID} AND nodeIndex = #{nodeIndex}AND userID =#{userID}
    </update>

</mapper>