<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="cn.edu.xjtu.cad.templates.dao.NodeMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->

    <insert id="addAllNodes" parameterType="java.util.List">
        INSERT INTO project_node (projectID,nodeIndex,nodeName,nodeDesc,goal,stepIndex) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.projectID},
            #{item.nodeIndex},
            #{item.nodeName},
            #{item.nodeDesc},
            #{item.goal},
            #{item.stepIndex})
        </foreach>
    </insert>

    <insert id="addNode" parameterType="cn.edu.xjtu.cad.templates.model.project.node.Node">
        INSERT INTO project_node  (projectID,nodeIndex,nodeName,nodeDesc,goal,stepIndex) VALUES
            (#{projectID},
            #{nodeIndex},
            #{nodeName},
            #{nodeDesc},
            #{goal},
            #{stepIndex})
    </insert>

    <delete id="deleteNode">
        DELETE FROM project_node WHERE projectID = #{projectID} AND nodeIndex = #{nodeIndex}
    </delete>

    <update id="updateNode" parameterType="cn.edu.xjtu.cad.templates.model.project.node.Node">
        UPDATE project_node SET
        nodeName = #{nodeName},
        nodeDesc = #{nodeDesc},
        stepIndex = #{stepIndex},
        goal = #{goal},
        summary = #{summary},
        state = #{state},
        appName = #{appName},
        appPath = #{appPath},
        appIcon = #{appIcon},
        templateProjectID = #{templateProjectID},
        lockState = #{lockState}
        WHERE projectID = #{projectID} AND nodeIndex =#{nodeIndex}
    </update>

    <select id="getNodesOfProject" resultType="cn.edu.xjtu.cad.templates.model.project.node.Node">
        SELECT * FROM project_node WHERE projectID = #{projectID}
    </select>

    <select id="getNode" resultType="cn.edu.xjtu.cad.templates.model.project.node.Node">
        SELECT * FROM project_node WHERE projectID = #{projectID} AND nodeIndex = #{nodeIndex}
    </select>
</mapper>