<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="cn.edu.xjtu.cad.templates.dao.NodeResultMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->

    <insert id="addAllNodeResultList" parameterType="java.util.List">
        INSERT INTO project_node_result (projectID,nodeIndex,userID)VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.projectID},
            #{item.nodeIndex},
            #{item.userID})
        </foreach>
    </insert>

    <select id="getResultListByNodeIndex" resultType="cn.edu.xjtu.cad.templates.model.project.node.NodeResult">
        SELECT * FROM project_node_result where projectID = #{id} AND nodeIndex = #{index}
    </select>


    <select id="getResultListByNodeIndexAndUserIDList" resultType="cn.edu.xjtu.cad.templates.model.project.node.NodeResult">
        SELECT * FROM project_node_result
        WHERE projectID = #{id} AND nodeIndex = #{index} AND userID in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="getResult" resultType="cn.edu.xjtu.cad.templates.model.project.node.NodeResult">
       SELECT * FROM project_node_result where projectID = #{id} AND nodeIndex = #{index} AND userID = #{userID}
    </select>

    <update id="updateNodeResultList" parameterType="cn.edu.xjtu.cad.templates.model.project.node.NodeResult">
        UPDATE project_node_result
        SET state = CASE
        <foreach collection="list" item="item" index="index">
            WHEN projectID = #{item.projectID} AND nodeIndex =#{item.nodeIndex} AND userID = #{item.userID} THEN #{state}
        </foreach>,
        SET  resultKey =CASE
        <foreach collection="list" item="item" index="index">
            WHEN projectID = #{item.projectID} AND nodeIndex =#{item.nodeIndex} AND userID = #{item.userID} THEN #{resultKey}
        </foreach>,
        SET  message =CASE
        <foreach collection="list" item="item" index="index">
            WHEN projectID = #{item.projectID} AND nodeIndex =#{item.nodeIndex} AND userID = #{item.userID} THEN #{message}
        </foreach>,
        SET  resultID =CASE
        <foreach collection="list" item="item" index="index">
            WHEN projectID = #{item.projectID} AND nodeIndex =#{item.nodeIndex} AND userID = #{item.userID} THEN #{resultID}
        </foreach>,
        SET  resultName =CASE
        <foreach collection="list" item="item" index="index">
            WHEN projectID = #{item.projectID} AND nodeIndex =#{item.nodeIndex} AND userID = #{item.userID} THEN #{resultName}
        </foreach>,
    </update>
</mapper>