<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="cn.edu.xjtu.cad.templates.dao.ProjectMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <insert id="addProject" parameterType="cn.edu.xjtu.cad.templates.model.project.Project" useGeneratedKeys="true"
            keyProperty="projectID">
        INSERT INTO project (projectName, projectDesc, projectTags,openState,invitationCode,problemID) VALUES
            (#{projectName},
             #{projectDesc},
             #{projectTags},
             #{openState},
             #{invitationCode},
             #{problemID})
    </insert>

    <select id="getAllProjectListByUserID" resultType="cn.edu.xjtu.cad.templates.model.project.Project">
        SELECT *
        FROM project, project_role
        WHERE project.projectID = project_role.projectID AND project_role.userID = #{userID}
    </select>

    <select id="getProjectListByProjectIDList" resultType="cn.edu.xjtu.cad.templates.model.project.Project">
        SELECT * FROM project WHERE projectID in (
        <choose>
            <when test="list == null or list.size()==0">
                -1
            </when>
            <otherwise>
                <foreach collection="list" item="item" index="index" separator=",">
                    #{item}
                </foreach>
            </otherwise>
        </choose>
        )
    </select>

    <select id="getProjectByID" resultType="cn.edu.xjtu.cad.templates.model.project.Project">
        SELECT *
        from project
        where projectID = #{projectID}
    </select>

    <select id="getProjectByCode" resultType="cn.edu.xjtu.cad.templates.model.project.Project">
        SELECT *
        FROM project
        WHERE invitationCode = #{invitationCode}
    </select>

    <select id="getProjectListByUserAndRole" resultType="cn.edu.xjtu.cad.templates.model.project.Project">
        SELECT *
        FROM project,project_role
        WHERE project.projectID = project_role.projectID AND userID = #{userID} AND project_role.projectRole = #{projectRole}
    </select>

    <select id="getOpenProject" resultType="cn.edu.xjtu.cad.templates.model.project.Project">
        SELECT * FROM project WHERE openState = 1;
    </select>

    <update id="updateProjectInfo">
        UPDATE project
        set projectName = #{projectName}, projectDesc = #{projectDesc}, projectTags = #{projectTags}
        where projectID = #{projectID}
    </update>

    <update id="updateProjectInCode">
        UPDATE project
        set invitationCode = #{invitationCode}
        where projectID = #{projectID}
    </update>
    <update id="updateProjectStartTime">
        UPDATE project
        set startTime =  now()
        where projectID = #{projectID}
    </update>

<!--    <insert id="addProjectIndex">-->
<!--        INSERT  INTO project_index (projectID) VALUES-->
<!--            (#{projectID})-->
<!--    </insert>-->
<!--    <update id="updateProjectIndex">-->
<!--        UPDATE project_index-->
<!--        set funds =  #{funds},-->
<!--            customerN =  #{customerN},-->
<!--            memberN =  #{memberN},-->
<!--            meetingN =  #{meetingN},-->
<!--            nodeN =  #{nodeN},-->
<!--            trainN =  #{trainN},-->
<!--            income =  #{income},-->
<!--            satisfaction =  #{satisfaction},-->
<!--            completionRate =  #{completionRate},-->
<!--            participationIndex =  #{participationIndex},-->
<!--            proficiency =  #{proficiency},-->
<!--            caseN =  #{caseN},-->
<!--            paperN =  #{paperN},-->
<!--            patentN =  #{patentN},-->
<!--            proposalN =  #{proposalN}-->
<!--            where projectID = #{projectID}-->
<!--    </update>-->
<!--    <select id="getProjectIndex" resultType="cn.edu.xjtu.cad.templates.model.project.ProjectIndex">-->
<!--        SELECT * FROM  project_index WHERE projectID = #{projectID}-->
<!--    </select>-->
<!--    <select id="getAllProjectIndex" resultType="cn.edu.xjtu.cad.templates.model.project.ProjectIndex">-->
<!--        SELECT * FROM  project_index-->
<!--    </select>-->

    <delete id="deleteProject">
        DELETE FROM project WHERE projectID = #{projectID}
    </delete>


    <update id="saveNormalizeIndex" parameterType="java.util.Map">
        UPDATE project_index
        set
        <foreach collection="map.keys" item="key" open="" close=""
                 separator=",">
            ${key}Norm = #{map[${key}]}
        </foreach>
        where projectID = #{projectID}
    </update>


    <select id="getProjectByProblemID" resultType="cn.edu.xjtu.cad.templates.model.project.Project">
        SELECT * FROM  project where problemID = #{problemID}
    </select>

    <update id="unbindProblemID">
        UPDATE project
        set problemID = NULL
        where projectID = #{projectID}
    </update>

</mapper>