<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="cn.edu.xjtu.cad.templates.dao.StepMapper">
    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <resultMap type="cn.edu.xjtu.cad.templates.model.project.Step" id="step"/>
    <insert id="addAllSteps" parameterType="java.util.List">
        INSERT INTO project_step (projectID,stepIndex,stepName,stepDesc,summary,pos) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.projectID},
            #{item.stepIndex},
            #{item.stepName},
            #{item.stepDesc},
            #{item.summary},
            #{item.pos})
        </foreach>
    </insert>

    <insert id="addStep" parameterType="cn.edu.xjtu.cad.templates.model.project.Step">
        INSERT INTO project_step (projectID,stepIndex,stepName,stepDesc,summary,pos) VALUES
            (#{projectID},
            #{stepIndex},
            #{stepName},
            #{stepDesc},
            #{summary},
            #{pos})
    </insert>

    <delete id="deleteStep">
        DELETE FROM project_step WHERE projectID = #{projectID} AND stepIndex = #{stepIndex}
    </delete>

    <select id="getStepsOfProject" resultType="cn.edu.xjtu.cad.templates.model.project.Step">
        SELECT * FROM project_step WHERE projectID = #{projectID} ORDER by pos
    </select>

    <select id="getStep" resultType="cn.edu.xjtu.cad.templates.model.project.Step">
        SELECT * FROM project_step WHERE projectID = #{projectID}  AND stepIndex = #{stepIndex} ORDER by pos
    </select>


    <update id="updateStep" parameterType="cn.edu.xjtu.cad.templates.model.project.Step">
        UPDATE project_step SET
        stepName = #{stepName},stepDesc = #{stepDesc},summary = #{summary}
        WHERE projectID = #{projectID} AND stepIndex = #{stepIndex}
    </update>

</mapper>